.lol {
  width: 100%;
  padding: 0px 19px;
}
/* .imgpar img{
    width: 11rem!important;
} */
/* CoolButton.css */

.button {
    color: #ffffff;
    padding: 10px 20px;
    font-size: 25px;
    border-bottom: 1px solid white;
    border-radius: 5px;
    position: absolute;
    bottom: 51%;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 10%;

}

.button:hover {
  background-color: #101111; 
  
  border: none;
}
